<link rel="stylesheet" href="/css/style.css">
<style>
.copyright{
    text-align: center;
    text-decoration: underline;
}
footer{
    position: static;
    margin-bottom: 0px;
    padding-bottom: 1vw;
    padding-left: 2vw;
    bottom: 0px;
    color: aliceblue;
    background-color: dimgray;
}
</style>
<footer>
    <h2>Footer</h2>
    <h3>Site Map</h3>
    <ul>
        <li>Home</li>
        <li>Form</li>
        <li>Contact</li>
        <li>About</li>
    </ul>

    <div class="copyright">
        copyright &copy; 2023 <span>HTML Template</span>
    </div>

</footer>